/*
===============   
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: #49a6e9;
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Open Sans', sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-secondary);
	background: var(--clr-grey-10);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: var(--ff-primary);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 0.875rem;
}

p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1rem;
	}

	body {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

/*  global classes */

.btn {
	text-transform: uppercase;
	background: transparent;
	color: var(--clr-black);
	padding: 0.375rem 0.75rem;
	letter-spacing: var(--spacing);
	display: inline-block;
	transition: var(--transition);
	font-size: 0.875rem;
	border: 2px solid var(--clr-black);
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: var(--radius);
}

.btn:hover {
	color: var(--clr-white);
	background: var(--clr-black);
}

/* section */
.section {
	padding: 5rem 0;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	/* max-width: 35rem; */
	max-width: 1000px; /* from dashNav*/
	margin-top: 8rem; /* dashNav does not have this*/
}

@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}

main {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

/*
=============== 
Navbar
===============
*/

nav {
	background: var(--clr-white);
	box-shadow: var(--light-shadow);
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.nav-toggle {
	font-size: 1.5rem;
	color: var(--clr-primary-5);
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
}

.nav-toggle:hover {
	color: var(--clr-primary-1);
	transform: rotate(90deg);
}

.logo {
	height: 40px;
}

.links a {
	color: var(--clr-grey-3);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}

.links a:hover {
	background: var(--clr-primary-8);
	color: var(--clr-primary-5);
	padding-left: 1.5rem;
}

/*  this thing needs to be toggled */
.links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.show-links {
	height: 6rem;
}

@media screen and (min-width: 800px) {
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}

	.nav-header {
		padding: 0;
	}

	.nav-toggle {
		display: none;
	}

	.links {
		height: auto;
		display: flex;
	}

	.links a {
		padding: 0;
		margin: 0 0.5rem;
	}

	.links a:hover {
		padding: 0;
		background: transparent;
	}

	/* .social-icons {
		display: flex;
	}

	.social-icons a {
		margin: 0 0.5rem;
		color: var(--clr-primary-5);
		transition: var(--transition);
	}

	.social-icons a:hover {
		color: var(--clr-primary-7);
	} */
}

/*
====================== 
Current Time
======================
*/

#time {
	font-size: 1.5rem;
	position: absolute;
	right: 44rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 2px solid var(--clr-grey-1);
	background: var(--clr-primary-9);
}

/*
======================
Weather
======================
*/

.weather-body {
	position: absolute;
	left: 2.5rem;
	margin-top: 1.5rem;

	height: 350px;
	width: 45%;
	padding: 2rem;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(var(--clr-primary-5), var(--clr-primary-1));
	font-family: sans-serif;
	color: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
	transition: var(--transition);
	box-sizing: border-box;
}

.weather-body h2 {
	color: var(--clr-black);
	margin-bottom: 1.5rem;
	text-align: center;
	margin-top: 1rem;
	transition: var(--transition);
}

.location,
.temperature {
	height: 30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.location-timezone {
	margin-right: 4rem;
	font-size: 3rem;
	color: var(--clr-primary-1);
}

.temperature {
	flex-direction: column;
}

.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.degree-section span {
	margin: 10px;
	margin-bottom: 1.3rem;
	font-size: 40px;
	color: var(--clr-primary-10);
}

.degree-section h2 {
	font-size: 40px;
	color: var(--clr-primary-10);
}

.temperature-description {
	padding-bottom: 1.5rem;
}

/*
=====================
Random Gif
=====================
*/

.gif-body {
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
	transition: var(--transition);
	padding: 2rem;
	box-sizing: border-box;
	height: 350px;
	width: 45%;
	display: inline-flex;
	justify-content: right;
	background: linear-gradient(var(--clr-primary-1), var(--clr-primary-5));
	margin-top: 1.5rem;

	position: absolute;
	right: 2.5rem;
}

.gif-body:hover {
	box-shadow: var(--dark-shadow);
}

.gif-body h2 {
	color: var(--clr-white);
	/* margin-bottom: 1.5rem; */
	text-align: center;
	margin-top: 1rem;
	transition: var(--transition);
}

.gif-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 12.5rem;
}

/*
====================== 
Task List Tracker
======================
*/
.main-heading {
	margin-top: 2rem;
	color: var(--clr-black);
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-center {
	position: relative;
	top: 20rem;
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
	transition: var(--transition);
	padding: 2rem;
}

.section-center:hover {
	box-shadow: var(--dark-shadow);
}

.alert {
	margin-bottom: 1rem;
	height: 1.25rem;
	display: grid;
	align-items: center;
	text-align: center;
	font-size: 0.7rem;
	border-radius: 0.25rem;
	letter-spacing: var(--spacing);
	text-transform: capitalize;
}

.alert-danger {
	color: #721c24;
	background: #f8d7da;
}

.alert-success {
	color: #155724;
	background: #d4edda;
}

.task-tracker-form h3 {
	color: var(--clr-primary-1);
	margin-bottom: 1.5rem;
	text-align: center;
}

.completed-task-tracker h3 {
	color: var(--clr-primary-1);
	padding-top: 2rem; /* edit */
	margin-bottom: 1.5rem;
	text-align: center;
}

.completed-task-tracker {
	margin-top: 2.5rem;
	margin-bottom: 30rem;
}

.form-control {
	display: flex;
	justify-content: center;
}

#task {
	padding: 0.75rem;
	padding-left: 1rem;
	background: var(--clr-grey-10);
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	border-color: transparent;
	font-size: 1rem;
	flex: 1 0 auto;
	color: var(--clr-grey-5);
}

#task::placeholder {
	font-family: var(--ff-secondary);
	color: var(--clr-grey-5);
}

.submit-btn {
	background: var(--clr-primary-8);
	border-color: transparent;
	flex: 0 0 5rem;
	display: grid;
	align-items: center;
	padding: 0.25rem;
	text-transform: capitalize;
	letter-spacing: 2px;
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	cursor: pointer;
	content: var(--clr-primary-5);
	transition: var(--transition);
	font-size: 0.85rem;
}

.submit-btn:hover {
	background: var(--clr-primary-5);
	color: var(--clr-white);
}

.pending-task-container {
	margin-top: 2rem;
	transition: var(--transition);
	visibility: hidden;
}

.completed-task-container {
	margin-top: 4.5rem;
	transition: var(--transition);
	visibility: hidden;
}

.show-container {
	visibility: visible;
}

.task-item,
.completed-task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	transition: var(--transition);
	padding: 0.7rem 1rem;
	border-radius: var(--radius);
	text-transform: capitalize;
}

.task-item,
.completed-task-item:hover {
	color: var(--clr-grey-5);
	background: var(--clr-grey-10);
}

.task-item,
.completed-task-item:hover .title {
	color: var(--clr-grey-5);
}

.title {
	margin-bottom: 0;
	color: var(--clr-grey-1);
	letter-spacing: 2px;
	transition: var(--transition);
}

.complete-btn,
.edit-btn,
.delete-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 1rem;
	margin: 0 0.15rem;
	transition: var(--transition);
}

.complete-btn {
	color: var(--clr-green-light);
}

.complete-btn:hover {
	color: var(--clr-green-dark);
}

.edit-btn:hover {
	opacity: 0.7;
}

.delete-btn {
	color: var(--clr-red-light);
}

.delete-btn:hover {
	color: var(--clr-red-dark);
}

.clear-btn,
.completed-clear-btn {
	text-transform: capitalize;
	width: 10rem;
	height: 1.5rem;
	display: grid;
	align-items: center;
	background: transparent;
	border-color: transparent;
	color: var(--clr-red-light);
	margin: 0 auto;
	font-size: 0.85rem;
	letter-spacing: var(--spacing);
	cursor: pointer;
	transition: var(--transition);
	margin-top: 1.25rem;
}

.clear-btn,
.completed-clear-btn:hover {
	color: var(--clr-red-dark);
}
